body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: rgb(3, 24, 11);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.logo {
  height: 120px;
  width: 250px;
  margin-left: 30px;
  margin-top: 0;
  padding: 0;
}

.h1 {
  color: rgb(240, 243, 234);
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-display: initial;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 3rem;
}

.pic-tile {
  height: 200px;
  border-radius: 20px;
  display: inline;
  float: left;
  margin: 20px;
}
.pics {
  width: 45%;
}

.pic1 {
  float: left;
}
.pic2 {
  float: right;
}

.pic3 {
  float: left;
}

.golem {
  float: right;
}
.font {
  color: rgb(252, 142, 16);
}
.p {
  color: rgb(161, 58, 26);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
footer {
  color: rgb(206, 98, 248);
  text-align: right;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .font {
    color: brown;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .pics {
    width: 100%;
    display: block;
    margin: 0;
    text-align: justify;
    color: rgb(165, 86, 40);
  }
  .pic-tile {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: contain;
    margin: 20px;
  }
}
